@import-normalize;

html {
  --general-red: #ff5d4f;
  --general-blue: #85c8ee;
  --secondary-blue: #d3ebf9;
  --black: #000000;
  --white: #FFFFFF;
  --grey: #616161;
  --secondary-grey: #b5b5b5;
}
button {
  cursor: pointer;
}